html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
 
.problem-number {
    margin-top: 5px;
}
.problem-body{
    font-size: 64px;
    color:orangered;
}
.problem-answer{
    font-size: 64px;
    color: red;
    width: 100px;
    height: 95px;
}

.res-statement{
    font-size: 32px;
    margin-top: 40px;
    font-weight: 500;
}

.button--home{
    margin-top: 10px;
}

.button--next{
    width: 100px;
}

.arg-radio{
    margin-right: 10px;
    margin-left: 3px;
}

.timer-btn{
    height: 13px;
    border-radius: 50%;
    background-color: grey;
    border: none;
    margin-right: 5px;
}