html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
 
.problem-body{
    font-size: 64px;
    color:orangered;
}
.problem-answer{
    font-size: 64px;
    color: red;
    width: 100px;
    height: 95px;
}

.res-statement{
    font-size: 32px;
    padding-top: 20px;
    font-weight: 500;
}