@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="d-flex align-content-center flex-column">
    <form action="Problem.cshtml">
    <div class="input-group d-flex flex-column">
        <label for="argument">Число</label>
        <input type="number" id="argument" min="1"/>
     
        @*<label for="problem-number">Кількість прикладів</label>
        <input type="number" id="problem-number" min="1"/>

        <label for="in-order">По порядку</label>
        <input type="checkbox" id="in-order>" />*@
    </div>
    </form>
    <br />
    <button type="button" class="button--start" onclick="start()">Почати</button>
</div>
<script src="~/js/problem_script.js"></script>
