@page
@model MathTrainer.Pages.ProblemModel
@{
    ViewData["Titile"] = "Problem";
}
@{
    int a = 9;
    int b = 8;
    int res = a + b;
}
<div class="problem d-flex justify-content-center flex-row">
    <div class="problem-body">@a+@b=</div>
    <input type="number" class="problem-answer" id="answer">
</div>
<div class="d-flex justify-content-center flex-column">
    <p id="res_statement"></p>
    <div id="btn-check">
        <button type="button" class="button--check" onclick="check_answer(@res)">Перевірити</button>
    </div>
    <div hidden id="btn-next">
        <button type="button" class="button--next" onclick="next_problem()">Далі</button>
    </div>
    
</div>

<script src="./js/problem_script.js"></script>

